<%

function removeHtmlEntities(text) {
    return text.replace(/&[a-zA-Z0-9#]+;/g, '');
} 

function shuffleArray(array) {
    for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
    }
    return array;
}

var options = [];
options.push(removeHtmlEntities(content.correct_answer));
for (let i = 0; i < content.incorrect_answers.length; i++) {
    options.push(removeHtmlEntities(content.incorrect_answers[i]));
}

shuffleArray(options);
%>

<% for (let i = 0; i < options.length; i++) { %>
    <div class="option">
        <input id="question<%= questionNum %>_option<%= i %>" name="question<%= questionNum %>" type="radio" value="<%= options[i] %>">
        <label for="question<%= questionNum %>_option<%= i %>"><%= options[i] %></label>
    </div>
<% } %>
