<div class="option">
    <input id="question<%= questionNum %>_true" name="question<%= questionNum %>" type="radio" value="True">
    <label for="question<%= questionNum %>_true">True</label>
</div>
<div class="option">
    <input id="question<%= questionNum %>_false" name="question<%= questionNum %>" type="radio" value="False">
    <label for="question<%= questionNum %>_false">False</label>
</div>
