<h3>
    <%= content.question%>
</h3>

<input id="question<%= questionNum %>" name="question<%= questionNum %>" type="radio" value="True">true</input>
<input id="question<%= questionNum %>" name="question<%= questionNum %>" type="radio" value="False">false</input>